<?php
namespace App\Config;

class Config {
    //Routes prefix
    public function prefix() {
        return '/api/v1';
    }

    // Database settings
    public function db() {
        return [
            'driver' => 'mysql',
            'host' => 'localhost',
            'database' => 'YOUR_DATABASE_NAME',
            'username' => 'YOUR_DATABASE_USERNAME',
            'password' => 'YOUR_DATABASE_PASSWORD',
            'charset'   => 'utf8',
            'collation' => 'utf8_unicode_ci',
            'prefix'    => '',
        ];
    }
    // Slim settings
    public function slim() {
        return [
            'settings' => [
                'determineRouteBeforeAppMiddleware' => false,
                'displayErrorDetails' => true,
                'db' => self::db()
            ],
        ];
    }
    // Auth settings
    public function auth() {
        return [
            'secret' => 'REPLACE WITH HARD TO GUESS STRING',
            'expires' => 9999, // in minutes
            'hash' => PASSWORD_DEFAULT,
            'jwt' => 'HS256'
        ];
    }
}